Flow1
[
    {
        "id": "cd6abfce.34b",
        "type": "tab",
        "label": "Flow 1"
    },
    {
        "id": "6568a2a0.a054cc",
        "type": "rpi-gpio out",
        "z": "cd6abfce.34b",
        "name": "LED",
        "pin": "11",
        "set": true,
        "level": "0",
        "freq": "",
        "out": "out",
        "x": 710,
        "y": 400,
        "wires": [],
        "inputLabels": [
            "OK"
        ]
    },
    {
        "id": "f5282b3e.7f9978",
        "type": "debug",
        "z": "cd6abfce.34b",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 730,
        "y": 300,
        "wires": []
    },
    {
        "id": "c111c1c3.45245",
        "type": "rpi-gpio in",
        "z": "cd6abfce.34b",
        "name": "Button",
        "pin": "7",
        "intype": "up",
        "debounce": "25",
        "read": true,
        "x": 170,
        "y": 360,
        "wires": [
            [
                "197b8e93.2e9da1"
            ]
        ]
    },
    {
        "id": "197b8e93.2e9da1",
        "type": "switch",
        "z": "cd6abfce.34b",
        "name": "if input is 1",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "outputs": 2,
        "x": 350,
        "y": 400,
        "wires": [
            [
                "f041ce6b.94fb2"
            ],
            [
                "237cb257.b3c3ae"
            ]
        ]
    },
    {
        "id": "f041ce6b.94fb2",
        "type": "change",
        "z": "cd6abfce.34b",
        "name": "Change to 0",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "0",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 530,
        "y": 360,
        "wires": [
            [
                "6568a2a0.a054cc",
                "f5282b3e.7f9978"
            ]
        ]
    },
    {
        "id": "237cb257.b3c3ae",
        "type": "change",
        "z": "cd6abfce.34b",
        "name": "Change to 1",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "1",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 530,
        "y": 440,
        "wires": [
            [
                "6568a2a0.a054cc",
                "f5282b3e.7f9978"
            ]
        ]
    }
]
